{
  "global": {
    "parseVersion": "1.4.2"
  },
  "applications": {
    "_default": {
      "link": "droidcon-test"
    },
    "droidcon-test": {
      "applicationId": "the-application-key",
      "masterKey": "the-master-key",
      "javascriptKey": "the-js-key"
    }
  }
}
